<div class="relative overflow-x-auto rounded-lg shadow-md">
  <div class="w-full p-5 text-end">
    <a routerLink="/employee/enroll"
      class="px-5 py-2 text-xs font-semibold text-white uppercase bg-gray-700 rounded-md">add</a>
  </div>
  <!-- <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">First Name</th>
        <th scope="col" class="px-6 py-3">Last Name</th>
        <th scope="col" class="px-6 py-3">Gender</th>
        <th scope="col" class="px-6 py-3">Phone Number</th>
        <th scope="col" class="px-6 py-3">Date of Birth</th>
        <th scope="col" class="px-6 py-3">Email Address</th>
        <th scope="col" class="px-6 py-3">Address</th>
        <th scope="col" class="px-6 py-3">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="employees.length === 0"
        class="border-b odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" colspan="6" class="px-6 py-4 font-medium">
          <div class="w-full text-center"><span class=" animate-pulse">No data at the moment.</span></div>
        </th>

      </tr>
      <tr *ngFor="let item of employees"
        class="border-b odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
        <td class="px-6 py-4"> {{item.first_name}} </td>
        <td class="px-6 py-4"> {{item.last_name}} </td>
        <td class="px-6 py-4"> {{item.gender}} </td>
        <td class="px-6 py-4"> {{item.phone_number}} </td>
        <td class="px-6 py-4"> {{item.dob}} </td>
        <td class="px-6 py-4"> {{item.email}} </td>
        <td class="px-6 py-4"> {{item.address}} </td>
        <td class="px-6 py-4">
          <div class="flex justify-center gap-2">
            <a routerLink="/employee/{{item.id}}/edit"
              class="px-4 py-1 text-xs tracking-wider text-white uppercase bg-green-500 rounded-lg">edit</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table> -->
  <div class="p-10 space-y-4 overflow-x-auto border">
    <div class="">
      <input type="text" placeholder="Search within First Name or Last Name or Phone Number or Email or Address" [(ngModel)]="search"
      class="w-1/2 px-4 py-2 border-b-2 outline-none focus:border-indigo-600 focus:shadow-md focus:shadow-indigo-200">
    </div>
    <ngx-datatable #table class="material w-max striped" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
      [limit]="10" [rows]="list">
      <ngx-datatable-column name="Department" prop="department.name"></ngx-datatable-column>
      <ngx-datatable-column name="First Name" prop="first_name"></ngx-datatable-column>
      <ngx-datatable-column name="Last Name" prop="last_name"></ngx-datatable-column>
      <ngx-datatable-column name="Gender" prop="gender"></ngx-datatable-column>
      <ngx-datatable-column name="Phone Number" prop="phone_number"></ngx-datatable-column>
      <ngx-datatable-column name="Date of Birth" prop="dob"></ngx-datatable-column>
      <ngx-datatable-column name="Email Address" prop="email"></ngx-datatable-column>
      <ngx-datatable-column name="Address" prop="address"></ngx-datatable-column>
      <ngx-datatable-column name="Detail">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.id">
            <a routerLink="/employee/{{row.id}}/edit"
              class="px-3 py-1.5 text-xs font-semibold tracking-wider text-white uppercase bg-green-600 rounded-sm ">detail</a>
          </span>
        </ng-template>
      </ngx-datatable-column>


      <!-- <ngx-datatable-column name="Belt">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.belt">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="text-green-400 size-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </span>
          <span *ngIf="!row.belt">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="text-red-400 size-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Machine">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.machine ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="text-green-400 size-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </span>
          <span *ngIf="!row.machine">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="text-red-400 size-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Supplier's Time" prop="given.time"></ngx-datatable-column>
      <ngx-datatable-column name="Production's Time" prop="actual.time"></ngx-datatable-column>
      <ngx-datatable-column name="Supplier's Pressure" prop="given.pressure"></ngx-datatable-column>
      <ngx-datatable-column name="Production's Pressure" prop="actual.pressure"></ngx-datatable-column>
      <ngx-datatable-column name="Supplier's Temperature" prop="given.temperature"></ngx-datatable-column>
      <ngx-datatable-column name="Production's Temperature" prop="actual.temperature"></ngx-datatable-column> -->
    </ngx-datatable>
  </div>

</div>
