<div [formGroup]="companyForm" class="p-5 space-y-5 border rounded-lg shadow-lg ">
  <div class="w-full">
    <h3 class="text-lg font-bold">Create company</h3>
  </div>
  <div class="grid grid-cols-2 gap-5">
    <div class="flex flex-col gap-3">
      <label class="text-xs font-semibold tracking-wider">Name</label>
      <input type="text" formControlName="name" class="px-4 py-2 border rounded-md">
    </div>
    <div class="flex flex-col gap-3">
      <label class="text-xs font-semibold tracking-wider">To</label>
      <input type="text" formControlName="to" class="px-4 py-2 border rounded-md">
    </div>
    <div class="flex flex-col gap-3">
      <label class="text-xs font-semibold tracking-wider">Contact</label>
      <input type="tel" formControlName="contact" class="px-4 py-2 border rounded-md">
    </div>
    <div class="flex flex-col gap-3">
      <label class="text-xs font-semibold tracking-wider">Phone</label>
      <input type="tel" formControlName="phone" class="px-4 py-2 border rounded-md">
    </div>
    <div class="flex flex-col gap-3">
      <label class="text-xs font-semibold tracking-wider">Email</label>
      <input type="email" formControlName="email" class="px-4 py-2 border rounded-md">
    </div>
  </div>
  <div class="flex justify-between w-full">
    <div>
      <button routerLink="/company" type="button"
        class="px-5 py-2 text-xs font-semibold tracking-wider text-white uppercase rounded-md bg-slate-600">
        return back</button>
    </div>
    <div class="flex gap-3">
      <button (click)="submitNContinue()" type="button"
        class="px-5 py-2 text-xs font-semibold tracking-wider text-white uppercase bg-indigo-600 rounded-md">
        submit & continue</button>
      <button (click)="submitNComplete()" type="button"
        class="px-5 py-2 text-xs font-semibold tracking-wider text-white uppercase bg-indigo-600 rounded-md">
        submit & complete</button>
    </div>
  </div>
</div>