<div class="p-5 space-y-5 border rounded-lg shadow-lg ">
  <div class="w-full">
    <label class="text-lg font-bold">Fusing Machine Report Checking</label>
  </div>

  <div class="flex flex-col gap-3 p-3 border rounded-md">
    <label class="text-sm font-semibold tracking-wider uppercase"> Buyer </label>
    <span *ngIf="!buyer" class="tracking-wide text-red-600 capitalize">Dont forget to select one item</span>
    <app-shared-form-select [list]="buyers" (model)="pickedBuyer($event)" />
  </div>
  <div class="flex flex-col gap-3 p-3 border rounded-md">
    <label class="text-sm font-semibold tracking-wider uppercase"> Style </label>
    <span *ngIf="!style" class="tracking-wide text-red-600 capitalize">Dont forget to select one item</span>
    <app-shared-form-select [list]="styles" (model)="pickedStyle($event)" />
  </div>
  <div class="flex flex-col gap-3 p-3 border rounded-md">
    <label class="text-sm font-semibold tracking-wider uppercase"> Serial Number </label>
    <span *ngIf="!serial_number" class="tracking-wide text-red-600 capitalize">Dont forget to select one item</span>
    <app-shared-form-select [list]="serial_numbers" (model)="pickedSerialNumber($event)" />
  </div>

  <div class="grid grid-cols-2 gap-5">
    <div class="flex flex-col gap-3 p-3 border rounded-md">
      <label class="text-sm font-semibold tracking-wider uppercase"> Temperature </label>
      <div>
        <label class="text-xs tracking-wider"> SUPPLIESR'S PARAMETER </label>
        <input type="text" [(ngModel)]="temperature.given" class="px-4 py-2 border rounded-md">
      </div>
      <div>
        <label class="text-xs tracking-wider"> PRODUCTION SETTING </label>
        <input type="text" [(ngModel)]="temperature.actual" class="px-4 py-2 border rounded-md">
      </div>
    </div>
    <div class="flex flex-col gap-3 p-3 border rounded-md">
      <label class="text-sm font-semibold tracking-wider uppercase"> Pressure </label>
      <div>
        <label class="text-xs tracking-wider"> SUPPLIESR'S PARAMETER </label>
        <input type="text" [(ngModel)]="pressure.given" class="px-4 py-2 border rounded-md">
      </div>
      <div>
        <label class="text-xs tracking-wider"> PRODUCTION SETTING </label>
        <input type="text" [(ngModel)]="pressure.actual" class="px-4 py-2 border rounded-md">
      </div>
    </div>
    <div class="flex flex-col gap-3 p-3 border rounded-md">
      <label class="text-sm font-semibold tracking-wider uppercase"> Dwell Time </label>
      <div>
        <label class="text-xs tracking-wider"> SUPPLIESR'S PARAMETER </label>
        <input type="text" [(ngModel)]="time.given" class="px-4 py-2 border rounded-md">
      </div>
      <div>
        <label class="text-xs tracking-wider"> PRODUCTION SETTING </label>
        <input type="text" [(ngModel)]="time.actual" class="px-4 py-2 border rounded-md">
      </div>
    </div>
    <div class="flex flex-col gap-3 p-3 border rounded-md">
      <label class="text-sm font-semibold tracking-wider uppercase"> Condition </label>
      <div>
        <label class="text-xs tracking-wider"> BELT'S CONDITION </label>
        <div class="flex gap-3">
          <button class="px-4 py-2 rounded-md" (click)="beltCondition(true)"
            [class]="condition.belt ? 'bg-indigo-600 text-white':' border'">
            Pass </button>
          <button class="px-4 py-2 rounded-md" (click)="beltCondition(false)"
            [class]="!condition.belt ? 'bg-indigo-600 text-white':' border'">
            Fail </button>
        </div>
      </div>
      <div>
        <label class="text-xs tracking-wider"> MACHINE'S CONDITION </label>
        <div class="flex gap-3">
          <button class="px-4 py-2 rounded-md" (click)="machineCondition(true)"
            [class]="condition.machine ? 'bg-indigo-600 text-white':' border'">
            Pass </button>
          <button class="px-4 py-2 rounded-md" (click)="machineCondition(false)"
            [class]="!condition.machine ? 'bg-indigo-600 text-white':' border'">
            Fail </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between w-full">
    <div class="flex">
      <a routerLink="/fuse-machine" type="button"
        class="px-5 py-2 text-xs font-semibold tracking-wider text-white uppercase rounded-md bg-slate-600">
        return back</a>
    </div>
    <div class="flex gap-3">
      <button (click)="submitNContinue()" type="button"
        class="px-5 py-2 text-xs font-semibold tracking-wider text-white uppercase bg-indigo-600 rounded-md">
        submit & continue</button>
      <button (click)="submitNComplete()" type="button"
        class="px-5 py-2 text-xs font-semibold tracking-wider text-white uppercase bg-indigo-600 rounded-md">
        submit & complete</button>
    </div>
  </div>
</div>

<!-- <div> <app-shared-form-select [list]="buyers" (model)="pickedBuyer($event)"></app-shared-form-select>
</div>
<div> <app-shared-form-select [list]="styles" (model)="pickedStyle($event)"></app-shared-form-select> </div>
<div> <app-shared-form-select [list]="serial_numbers" (model)="pickedSerialNumber($event)" ></app-shared-form-select>
</div> -->