<a routerLink="/owner/registration-form" class="text-blue-400">registration form</a>
<div class="flex justify-center w-full p-3 rounded-lg bg-zinc-100">
  <div class="space-y-3">
    <div class="flex justify-end">
      <input type="text" value="" class="px-4 py-2 outline-none focus:ring-1 focus:ring-blue-400 bg-slate-200"
        placeholder="Type here ...." [(ngModel)]="search">
    </div>
    <div class="w-full">
      <div class="overflow-x-auto lg:max-w-6xl md:max-w-2xl">
        <ngx-datatable #table class="material w-max striped" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
          [limit]="10" [rows]="dataRows" [columns]="dataColumns">
          <!-- <ngx-datatable-column name="Id" prop="_id"></ngx-datatable-column> -->
          <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
          <ngx-datatable-column name="phone" prop="phone"></ngx-datatable-column>
          <ngx-datatable-column name="email" prop="email"></ngx-datatable-column>
          <ngx-datatable-column name="address" prop="address"></ngx-datatable-column>
          <ngx-datatable-column name="make" prop="make"></ngx-datatable-column>
          <ngx-datatable-column name="model" prop="model"></ngx-datatable-column>
          <ngx-datatable-column name="year" prop="year"></ngx-datatable-column>
          <ngx-datatable-column name="vin" prop="name"></ngx-datatable-column>
          <ngx-datatable-column name="license_plate" prop="license_plate"></ngx-datatable-column>
          <ngx-datatable-column name="insurance_company" prop="insurance_company"></ngx-datatable-column>
          <ngx-datatable-column name="policy_number" prop="policy_number"></ngx-datatable-column>
          <ngx-datatable-column name="expiration_date" prop="expiration_date"></ngx-datatable-column>
          <ngx-datatable-column name="date_of_purchase" prop="date_of_purchase"></ngx-datatable-column>
          <ngx-datatable-column name="method_of_purchase" prop="method_of_purchase"></ngx-datatable-column>
          <ngx-datatable-column name="registration_type" prop="registration_type"></ngx-datatable-column>
          <ngx-datatable-column name="Action">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <a routerLink="/owner/{{row._id}}/edit"
                class="px-4 py-1 text-xs tracking-wider text-white uppercase bg-green-500 rounded-lg">edit</a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>