<div class="space-y-4">
  <!-- <div class="p-5 font-semibold text-white uppercase bg-cyan-700 -tracking-widest">Dashboard</div> -->
  <div class="flex justify-end overflow-hidden rounded-md shadow flex-nowrap">
    <a routerLink="/motorcycle/make" routerLinkActive="bg-cyan-700 text-white" ariaCurrentWhenActive="page"
      class="p-5 text-xs font-semibold tracking-widest text-center align-middle">Make</a>
    <a routerLink="/motorcycle/model" routerLinkActive="bg-cyan-700 text-white" ariaCurrentWhenActive="page"
      class="p-5 text-xs font-semibold tracking-widest text-center align-middle">Model</a>
    <a routerLink="/motorcycle/product" routerLinkActive="bg-cyan-700 text-white" ariaCurrentWhenActive="page"
      class="p-5 text-xs font-semibold tracking-widest text-center align-middle">Product</a>
  </div>

  <router-outlet></router-outlet>

</div>