<!-- <div class="flex space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
  <button type="button" routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    First Component</button>
  <button type="button" routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Second Component</button>

</div> -->


<div class="grid grid-cols-6 gap-5 ">
  <a type="button" routerLink="/employee" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="p-5 font-semibold tracking-wider text-gray-700 border-b-2 border-blue-600 bg-neutral-100">
    Employee</a>
</div>
